/* Add a transition to enable the sliding effect */
.navbar-account-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: -4px; /* Adjusted from bottom */
    right: 4px;
    transform: translate(100%, 80px); /* Start above the button */
    min-width: 200px;
    width: 30vw;
    max-width: 300px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.8);
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}


/* When the dropdown is open, change the transform to slide it down */
.navbar-account-dropdown.open {
    transform: translate(0, 80px); /* Slide in from the top */
    opacity: 1; /* Make it visible */
}

.navbar-account-dropdown span {
    color: black;
    font-size: 0.9rem;
    text-wrap: nowrap;
}

.navbar-account-dropdown ul {
    display: flex;
    flex-direction: column;
}

.navbar-account-dropdown ul,
.navbar-account-dropdown ul li,
.navbar-account-dropdown ul li a {
    width: 100%;
}

.account-dropdown-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 8px;
  }
  
  .account-dropdown-icon {
    fill: rgba(0,0,0,0);
    stroke: black;
    stroke-width: 20px;
    padding: 0 12px;
    overflow: visible;
    transition: 0.2s ease-in-out;
  }
  
  .account-dropdown-link:hover .account-dropdown-icon {
    fill: rgba(0,0,0,1);
    transform: scale(1.2);
  }
  

.account-logout-button {
    background-color: rgb(221, 221, 221);
    border: none;
}

.account-logout-button:hover {
    background-color: rgb(210, 210, 210);
}

