/* Add a transition to enable the sliding effect */
.navbar-account-dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: -4px; /* Adjusted from bottom */
    right: 4px;
    transform: translate(100%, 80px); /* Start above the button */
    min-width: 200px;
    max-width: 300px;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.8);
    opacity: 0;
    overflow: hidden;
    transition: transform 0.3s ease, opacity 0.3s ease;
    font-size: 0.8rem;
}

.navbar-account-dropdown-email {
    color: black;
}

.navbar-account-dropdown-list {
    padding: 0;
}

.navbar-account-dropdown-list span {
    color: black;
}


/* When the dropdown is open, change the transform to slide it down */
.navbar-account-dropdown.open {
    transform: translate(0, 80px); /* Slide in from the top */
    opacity: 1; /* Make it visible */
}

.account-logout-button {
    background-color: rgb(221, 221, 221);
    border: none;
}

.account-logout-button:hover {
    background-color: rgb(210, 210, 210);
}